**/bin/
**/obj/
.vscode/
**/.idea/
**/assets/
**/johntest.txt
**/test_config.txt
**/architecture/*
**/logical_backup/*
**/TEST_USERS.json
**/.env
**.bkp
**.dtmp
**.tmp
**.aux
**.log
**.lot
**.bcf
**.toc
**.xmpi
**.lof
**.run.xml
**/target
**/.vs/
